body {
    margin-top: 0%;
}

.container .navbar {
    display: flex;
    width: 942px;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
}

.container .navbar #search {
    position: relative;
    right: 680px;
    height: 26px;
}

.container .navbar #profilePic {
    height: 40px;
    
}

.container .navbar .alert {
   
}

.container {
    display: flex;
    padding: 20px;
}

.container .sidebar {
    display: flex;
    flex-direction: column;
    background-color: #F81A42;
    border-radius: 15px;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    height: 595px;
    width: 80px;
}
