@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;500;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto+Serif:wght@400;500;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}   
.container {
    display: flex;
   background-color: #F81A42;
   flex-direction: row;
}


.container-left {
    width: 50vw;
    height: 667px;
   
}

.container-right {
    background-color: #F81A42;
    width: 50vw;
    height: 600px;
    display: flex;
    align-items: flex-end;
    
    
}

#img-container-left {
   height: 100%;
   width: 100%;
}

.header {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
}

.header a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.list-nav{
    list-style: none;
    
    
}

.list-nav-center {
    margin-top: -20px;
    margin-right: 10px;
    
}

.container-right .container-right-txt  {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    
}

#titulo-right {
    font-family: 'Roboto Serif', serif;
    color: white;
    font-weight: 30;
    font-size: 45px;
    
}

#p-right {
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: flex;
    font-weight: 600;
    font-size: 25px;

}

.logo-center {
    width: 120px;
}

